<template name="layout_body">
<body>
  <div class="clear"> </div>
  <div class="ui container">
  <div class="pusher">
    <div class="ui vertical stripe segment">
      <div class="ui text container">
      <h3>
      <p>The calculator will calculate how much interest you will pay over the lifetime of your loan if you were to make the minimum payment.</p>
      <p>It will all so calculate how much you would save in interest if you were to make an extra payment each month.</p>
    </h3>
      </div>

      <div class="ui two column grid">
      <div class="row">
        <div class="six wide column">
          {{> loanForm}}
        </div>
        <div class="ten wide column">
          {{> payoffResult}}
        </div>
      </div>
    </div>
    <!-- <div class="ui vertical stripe segment">
      {{> chart}}
    </div> -->
  </div>
</div>
</div>

</body>
</template>
