<template name="header">
	<div class="ui inverted vertical masthead center aligned segment">

	    <div class="ui container">
				<!-- Menu Goes in here -->
	      <div class="ui large secondary inverted pointing menu">
	        <!-- <a class="toc item">
	          <i class="sidebar icon"></i>
	        </a>
	        <a class="active item">Home</a>
	        <a class="item">Work</a>
	        <a class="item">Company</a>
	        <a class="item">Careers</a>
	        <div class="right item">
	          <a class="ui inverted button">Log in</a>
	          <a class="ui inverted button">Sign Up</a>
	        </div> -->
	      </div>
	    </div>

	    <div class="ui text container">
	      <h1 class="ui inverted header">
	        Student Loan Calculator
	      </h1>
	      <h2>Learn how much interest you will pay over the life of your student loan.</h2>
	      <!-- <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div> -->
	    </div>

	  </div>
</template>
