<template name="loanForm">
  <div class="ui segment loanForm">
  <div class="row">
  <div class="sixteen wide column" >
    <div class="field" placeholder="Balance">
     <div class="ui label">Balance</div>
     <div class="ui input focus">
       <input id="balance" type="text" name="balance" placeholder="Loan Balance..." />
     </div>
   </div>

   <div class="field" placeholder="Rate">
    <div class="ui label">Rate</div>
    <div class="ui input focus">
      <input id="rate" type="text" name="rate" placeholder="Interest Rate..." />
    </div>
  </div>

  <div class="field" placeholder="Minimum">
   <div class="ui label">Minimum</div>
   <div class="ui input focus">
     <input id="minimum" type="text" name="Minimum" placeholder="Loan payment minimum..." />
   </div>
  </div>
  <div class="field" placeholder="ExtraPayment">
   <div class="ui label">Extra Payment</div>
   <div class="ui input focus">
     <input id="extraPayment" type="text" name="ExtraPayment" placeholder="Extra Payment Amount..." />
   </div>
  </div>

  <div class="ui large primary button" id="new-loan">Submit</div>

</div>
  </div>
</div>

</template>
