<template name="payoffResult">
  <div class="ui two column grid" id="payoffResults">
    <div class="row">
      <div class="eight wide column">

      </div>
      <div class="eight wide column">
        Results
      </div>
    </div>
    <div class="row">
      <div class="eight wide column">
          Total Principal Paid
      </div>
      <div class="eight wide column">
          {{TotalPrincipalPaid}}
      </div>
    </div>

    <div class="row">
      <div class="eight wide column">
          Total Interest Paid
      </div>
      <div class="eight wide column">
          {{TotalInterestPaid}}
      </div>
    </div>

    <div class="row">
      <div class="eight wide column">
          Total Paid
      </div>
      <div class="eight wide column">
          {{TotalPaid}}
      </div>
    </div>

  </div>

</template>
